[submodule "third_party/ocr-apps"]
	path = third_party/ocr-apps
	url = git@github.com:whnbaek/ocr-apps.git
[submodule "third_party/ocr"]
	path = third_party/ocr
	url = git@github.com:whnbaek/ocr.git
[submodule "third_party/ocr-vx"]
	path = third_party/ocr-vx
	url = git@github.com:whnbaek/ocr-vx.git
[submodule "third_party/tbb"]
	path = third_party/tbb
	url = https://github.com/uxlfoundation/oneTBB
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "third_party/OpenBLAS"]
	path = third_party/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
	shallow = true
