[submodule "third_party/ocr-apps"]
	path = third_party/ocr-apps
	url = https://github.com/whnbaek/ocr-apps.git
[submodule "third_party/ocr"]
	path = third_party/ocr
	url = https://github.com/whnbaek/ocr.git
[submodule "third_party/ocr-vx"]
	path = third_party/ocr-vx
	url = https://github.com/whnbaek/ocr-vx.git
[submodule "third_party/tbb"]
	path = third_party/tbb
	url = https://github.com/uxlfoundation/oneTBB
[submodule "third_party/mimalloc"]
	path = third_party/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "third_party/OpenBLAS"]
	path = third_party/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
	shallow = true
[submodule "third_party/rdma-core"]
	path = third_party/rdma-core
	url = https://github.com/linux-rdma/rdma-core.git
	shallow = true
[submodule "third_party/hpx"]
	path = third_party/hpx
	url = https://github.com/TheHPXProject/hpx.git
	shallow = true
[submodule "third_party/cassini-headers"]
	path = third_party/cassini-headers
	url = https://github.com/HewlettPackard/shs-cassini-headers.git
	shallow = true
[submodule "third_party/cxi-driver"]
	path = third_party/cxi-driver
	url = https://github.com/HewlettPackard/shs-cxi-driver.git
	shallow = true
[submodule "third_party/libcxi"]
	path = third_party/libcxi
	url = https://github.com/HewlettPackard/shs-libcxi.git
	shallow = true
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
	shallow = true
[submodule "third_party/json-c"]
	path = third_party/json-c
	url = https://github.com/json-c/json-c.git
	shallow = true
